$font-stack: "Unica One", cursive;
$primary-color: white;
$hero-font: "Julius Sans One", sans-serif;

body {
  background-color: $primary-color;
}

h1,
h2 {
  text-align: center;
  font-family: "Unica One", cursive;
}

.profile {
  border-radius: 50%;
}
