@import "mixins";

$font-stack: "Unica One", cursive;
$hero-font: "Julius Sans One", sans-serif;

.navbar-brand-bookli {
  font-size: 2em;
}

.hero {
  font-size: 5em;
}

.jumbotron {
  background-color: transparent;
}
