{% extends 'layout.html'%} {% block hero %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <img
                src="https://cdn.waterstones.com/bookjackets/large/9781/4088/9781408848180.jpg"
              />
            </div>
            <div class="col-sm-6">
              <h3 class="card-title">{{book.title}}</h3>
              <h6 class="card-text text-info">
                By <strong>{{book.author}}</strong>
              </h6>
              <p class="card-text">ISBN: {{book.isbn}}</p>
              <hr />
              <div class="row">
                <div class="col">
                  <i class="fa fa-comments float btn btn-outline-info ml-2">
                    Recent reviews
                  </i>
                  {% for review in reviews %}
                  <ul>
                    <li>
                      "{{review.comment}}"
                      <small class="text-info"
                        >By User {{review.user_id}}
                      </small>
                    </li>
                  </ul>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <hr style="border: 3px solid #f1f1f1;" />
          <div class="row">
            <div class="col">
              <span class="heading">User Rating</span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <p>4.1 average based on 254 reviews.</p>
              <form>
                <div class="form-group">
                  <label for="review"><em>Write a comment</em></label>
                  <textarea
                    class="form-control"
                    id="review"
                    name="review"
                    rows="3"
                    required
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-info mb-2">
                  Submit
                </button>
              </form>
            </div>
            <div class="col">
              <div class="row">
                <div class="side">
                  <div>5 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-5"></div>
                  </div>
                </div>
                <div class="side right">
                  <div>150</div>
                </div>
                <div class="side">
                  <div>4 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-4"></div>
                  </div>
                </div>
                <div class="side right">
                  <div>63</div>
                </div>
                <div class="side">
                  <div>3 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-3"></div>
                  </div>
                </div>
                <div class="side right">
                  <div>15</div>
                </div>
                <div class="side">
                  <div>2 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-2"></div>
                  </div>
                </div>
                <div class="side right">
                  <div>6</div>
                </div>
                <div class="side">
                  <div>1 star</div>
                </div>
                <div class="middle">
                  <div class="bar-container">
                    <div class="bar-1"></div>
                  </div>
                </div>
                <div class="side right">
                  <div>20</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
