{% extends 'layout.html'%} {% block hero %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{book.title}}</h3>
          <h6 class="card-text text-info">
            By <strong>{{book.author}}</strong>
          </h6>
          <p class="card-text">{{book.isbn}}</p>
          <h3 class="card-title">AVG Rating: (to be checked)</h3>
          <i class="fa fa-comments float btn btn-outline-info ml-2">
            Reviews
          </i>
          {% for review in reviews %}
          <ul>
            <li>
              "{{review.comment}}"
              <small class="text-info">By User {{review.user_id}} </small>
            </li>
          </ul>
          {% endfor %}

          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Write a comment</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
              <button type="submit" class="btn btn-info mb-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <div class="row">
    <div class="justify-content-center flex-row-reverse">
      <input type="radio" id="star5" name="rating" value="5" /><label
        for="star5"
        title="5 star"
        >5</label
      >
      <input type="radio" id="star4" name="rating" value="4" /><label
        for="star4"
        title="4 star"
        >4</label
      >
      <input type="radio" id="star3" name="rating" value="3" /><label
        for="star3"
        title="3 star"
        >3</label
      >
      <input type="radio" id="star2" name="rating" value="2" /><label
        for="star2"
        title="2 star"
        >2</label
      >
      <input type="radio" id="star1" name="rating" value="1" /><label
        for="star1"
        title="1 star"
        >1</label
      >
      <button class="btn btn-sm-info">submit</button>
    </div>
  </div>
</div>
