{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="col">
    <h1>Discover a book</h1>
  </div>

  <div class="row">
    <div class="col">
      <form class="form-inline" action="#" method="POST">
        <input
          class="form-control mr-2"
          type="text"
          placeholder="Search"
          name="text"
          required
        />
        <button class="btn btn-info" type="submit">Search</button>
      </form>
    </div>
  </div>
  {% for book in books %}
  <div class="row align-items-start">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ book.title }}</h2>
          <h6 class="card-text text-info">
            <small>By</small> <strong>{{ book.author }}</strong>
          </h6>
          <p>
            &nbsp 5 Star Rating {{ book.rate}}
            <span class="float-left"
              ><i class="text-warning fa fa-star"></i
            ></span>
            <span class="float-left"
              ><i class="text-warning fa fa-star"></i
            ></span>
            <span class="float-left"
              ><i class="text-warning fa fa-star"></i
            ></span>
            <span class="float-left"
              ><i class="text-warning fa fa-star"></i
            ></span>
            <span class="float-left"
              ><i class="text-warning fa fa-star"></i
            ></span>
          </p>
          <p>Published in {{ book.year }}</p>
          <p class="card-text">ISBN {{ book.isbn }}</p>
          <p class="card-text">{{ book.review }}</p>
          <p>
            <a class="float-right btn btn-outline-info ml-2">
              <i class="fa fa-comments"></i> Review
            </a>
            <a class="float-right btn text-white btn-danger">
              <i class="fa fa-heart"></i> Like</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
