{% extends 'layout.html'%}{% block hero %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <h2 class="card-title text-center">
          Log in
        </h2>
        {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        <div class="card-body py-md-4">
          <form action="{{url_for('post_login')}}" method="post">
            <div class="form-group">
              <input
                type="text"
                name="username"
                class="form-control"
                id="username"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>
            <div
              class="d-flex flex-row align-items-center justify-content-between"
            >
              <a href="#"> <button class="btn btn-dark">Log in</button></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
